<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE j8583-config PUBLIC "-//J8583//DTD CONFIG 1.0//EN"
	"http://j8583.sourceforge.net/j8583.dtd">
<j8583-config>

    <!-- These are the ISO headers to be prepended to the message types specified -->


   
   <!--
    <template type="0200">
        <field num="3" type="NUMERIC" length="6">650000</field>
        <field num="32" type="LLVAR">456</field>
        <field num="35" type="LLVAR">4591700012340000=</field>
        <field num="43" type="ALPHA" length="40">SOLABTEST             TEST-3       DF MX</field>
        <field num="49" type="ALPHA" length="3">484</field>
        <field num="60" type="LLLVAR">B456PRO1+000</field>
        <field num="61" type="LLLVAR">        1234P</field>
        <field num="100" type="LLVAR">999</field>
        <field num="102" type="LLVAR">ABCD</field>
    </template>


    <template type="0210">
        <field num="60" type="LLLVAR">Fixed data from template</field>
        <field num="70" type="ALPHA" length="3">ABC</field>
        <field num="90" type="ALPHA" length="42">Field of length 42</field>
        <field num="100" type="LLVAR">Fixed field</field>
        <field num="102" type="LLVAR">Another fixed field</field>
        <field num="126" type="LLLVAR">...and yet another fixed field.</field>
    </template>

    
    <parse type="0200">
        <field num="3" type="NUMERIC" length="6" />
        <field num="4" type="AMOUNT" />
        <field num="7" type="DATE10" />
        <field num="11" type="NUMERIC" length="6" />
        <field num="12" type="TIME" />
        <field num="13" type="DATE4" />
        <field num="15" type="DATE4" />
        <field num="17" type="DATE_EXP" />
        <field num="32" type="LLVAR" />
        <field num="35" type="LLVAR" />
        <field num="37" type="NUMERIC" length="12" />
        <field num="41" type="ALPHA" length="16" />
        <field num="43" type="ALPHA" length="40" />
        <field num="48" type="LLLVAR" />
        <field num="49" type="ALPHA" length="3" />
        <field num="60" type="LLLVAR" />
        <field num="61" type="LLLVAR" />
        <field num="100" type="LLVAR" />
        <field num="102" type="LLVAR" />
    </parse>

    <parse type="0210">
        <field num="3" type="NUMERIC" length="6" />
        <field num="4" type="AMOUNT" />
        <field num="7" type="DATE10" />
        <field num="11" type="NUMERIC" length="6" />
        <field num="12" type="TIME" />
        <field num="13" type="DATE4" />
        <field num="15" type="DATE4" />
        <field num="17" type="DATE_EXP" />
        <field num="32" type="LLVAR" />
        <field num="35" type="LLVAR" />
        <field num="37" type="NUMERIC" length="12" />
        <field num="38" type="NUMERIC" length="6" />
        <field num="39" type="NUMERIC" length="2" />
        <field num="41" type="ALPHA" length="16" />
        <field num="43" type="ALPHA" length="40" />
        <field num="48" type="LLLVAR" />
        <field num="49" type="ALPHA" length="3" />
        <field num="60" type="LLLVAR" />
        <field num="61" type="LLLVAR" />
        <field num="70" type="ALPHA" length="3" />
        <field num="90" type="ALPHA" length="42" />
        <field num="100" type="LLVAR" />
        <field num="102" type="LLVAR" />
        <field num="126" type="LLLVAR" />
    </parse>
    -->
    <template type="0100">       
        <field num="18" type="NUMERIC" length="4">0000</field> <!--  Merchant Type -->
        <field num="19" type="NUMERIC" length="3">840</field> <!--  Merchant Country -->
        <field num="23" type="ALPHA" length="4">0001</field> <!-- Card Seq Number -->
        <field num="49" type="NUMERIC" length="3">840</field> <!-- Tran Curr Code -->                
    </template>   
    
    
    <!--<header type="0100">ECOAUTHI    1208</header>-->
    
    <parse type="0110">
        <field num="2" type="LLVAR" length="19" /> <!-- account number-->
        <field num="3" type="NUMERIC" length="6" /> <!-- process code -->
        <field num="4" type="AMOUNT" length="6" /> <!-- amount -->
        <field num="7" type="DATE10" /> <!-- Transmission Time -->
        <field num="11" type="NUMERIC" length="6" /> <!-- STAN -->
        <field num="12" type="NUMERIC" length="12" /> <!-- Local Time Resp -->       
        <field num="14" type="DATE_EXP" /> <!-- Expiration Resp --> 
        <field num="15" type="ALPHA" length="6" /> <!-- Settlement Date -->         
        <field num="18" type="ALPHA" length="4" />  <!--  Merchant Type -->
        <field num="19" type="ALPHA" length="3" />  <!--  Merchant Country -->
        <field num="22" type="ALPHA" length="3" /> <!-- POS Data Code -->
        <field num="23" type="ALPHA" length="4" /> <!-- Card Sequence Number -->
        <field num="35" type="LLVAR" /> <!-- Track 2 Data -->            
        <field num="37" type="ALPHA" length="12" /> <!-- Retrieval Ref No -->         
        <field num="38" type="ALPHA" length="6" /> <!-- Approval Code -->
        <field num="39" type="ALPHA" length="2" /> <!-- Response Code -->            
        <field num="42" type="NUMERIC" length="15" /> <!-- Facility ID -->    
        <field num="44" type="LLVAR" />   <!-- AVS response -->    
        <field num="45" type="LLVAR" />   <!-- Track 1 Data -->
        <field num="48" type="ALPHA" length="29" /> <!-- AVS -->
        <field num="49" type="ALPHA" length="3" /> <!-- Tran Curr Code -->
        <field num="60" type="LLVAR" /> <!-- Additional Response -->
            <!--<field num="1" type="ALPHA" length="1"/>
            <field num="2" type="ALPHA" length="3"/>
            <field num="3" type="ALPHA" length="10"/>
            <field num="4" type="NUMERIC" length="12"/>
        </field>-->
        <field num="61" type="LLVAR" /> <!-- Additional Resp Esso  -->
        <field num="62" type="LLLVAR" /> <!-- Private Use Data   -->       
      
    </parse>
    
     <template type="0400">       
        <field num="18" type="NUMERIC" length="4">0000</field> <!--  Merchant Type -->
        <field num="19" type="NUMERIC" length="3">840</field> <!--  Merchant Country -->
        <field num="23" type="ALPHA" length="4">0001</field> <!-- Card Seq Number -->
        <field num="49" type="NUMERIC" length="3">840</field> <!-- Tran Curr Code -->                
    </template>
    
    <parse type="0410">
        <field num="2" type="LLVAR" length="19" /> <!-- account number-->
        <field num="3" type="NUMERIC" length="6" /> <!-- process code -->
        <field num="4" type="AMOUNT" length="6" /> <!-- amount -->
        <field num="7" type="DATE10" /> <!-- Transmission Time -->
        <field num="11" type="NUMERIC" length="6" /> <!-- STAN -->
        <field num="12" type="NUMERIC" length="12" /> <!-- Local Time Resp -->             
        <field num="37" type="ALPHA" length="12" /> <!-- Retrieval Ref No --> 
        <field num="38" type="ALPHA" length="6" /> <!-- Approval Code -->
        <field num="39" type="ALPHA" length="2" /> <!-- Response Code -->      
        <field num="44" type="LLVAR" />   <!-- AVS response -->    
        <field num="60" type="LLVAR" > <!-- Additional Response -->
            <field num="1" type="ALPHA" length="1"/>
            <field num="2" type="ALPHA" length="3"/>
            <field num="3" type="ALPHA" length="10"/>
            <field num="4" type="ALPHA" length="12"/>
        </field>
        <field num="61" type="LLVAR" /> <!-- Additional Resp Esso  -->
        <field num="62" type="LLLVAR" /> <!-- Private Use Data   -->       
      
    </parse>

    <parse type="0112">
        <field num="2" type="LLVAR" length="19" /> <!-- account number-->
        <field num="3" type="NUMERIC" length="6" /> <!-- process code -->
        <field num="4" type="AMOUNT" length="6" /> <!-- amount -->
        <field num="7" type="DATE10" /> <!-- Transmission Time -->
        <field num="11" type="NUMERIC" length="6" /> <!-- STAN -->
        <field num="12" type="NUMERIC" length="12" /> <!-- Local Time Resp -->
        <!--<field num="13" type="DATE4" /> --><!--  EFF Date --> 
        <field num="14" type="DATE_EXP" /> <!-- Expiration Resp --> 
        <field num="15" type="ALPHA" length="6" /> <!-- Settlement Date -->         
        <field num="18" type="ALPHA" length="4" />  <!--  Merchant Type -->
        <field num="19" type="ALPHA" length="3" />  <!--  Merchant Country -->
        <field num="22" type="ALPHA" length="3" /> <!-- POS Data Code -->
        <field num="23" type="ALPHA" length="4" /> <!-- Card Sequence Number -->
        <field num="35" type="LLVAR" /> <!-- Track 2 Data -->
        <field num="37" type="ALPHA" length="12" /> <!-- Retrieval Ref No -->
        <field num="38" type="ALPHA" length="6" /> <!-- Approval Code -->
        <field num="39" type="ALPHA" length="2" /> <!-- Response Code -->
        <field num="42" type="NUMERIC" length="15" /> <!-- Facility ID -->                
        <field num="44" type="LLVAR" />   <!-- AVS response -->
        <field num="45" type="LLVAR" />   <!-- Track 1 Data -->
        <field num="48" type="ALPHA" length="29" /> <!-- AVS -->
        <field num="49" type="ALPHA" length="3" /> <!-- Tran Curr Code -->
        <field num="60" type="LLVAR" > <!-- Additional Response -->
            <field num="1" type="ALPHA" length="1"/>
            <field num="2" type="ALPHA" length="3"/>
            <field num="3" type="ALPHA" length="10"/>
        </field>
        <field num="61" type="LLVAR" /> <!-- Additional Resp Esso  -->
        <field num="62" type="LLLVAR" /> <!-- Private Use Data   -->       
      
    </parse>

</j8583-config>